
<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <form action="/answer">
    <input type="text" class="form-control" name="question" id="input" value=<%= params[:question]%>>
    <input class="btn btn-primary" type="submit" value="Ask">
  </form>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
